body{
    margin: 0%;
}
.topnav{
    overflow: hidden;
    position: fixed;
    background-color: #333;
    top: 0%;
    width: 100%;
}
.topnav a{
    float: left;
   display: block;
   padding:  14px 16px;
   font-size: 20px;
   text-decoration: none;
}